<h4>Name:<%= @student.name %></h4>
<hr>Mod:<%= @student.mod %></hr>
<h6>Ducks:</h6>
  <ul>
    <% @student.ducks.each do |duck| %>
      <li>
        <%= link_to duck.name, duck_path(duck) %>
      </li>
    <% end %>
  </ul>
